In [1]:
import numpy as np
import pandas as pd

In [3]:
pd.__version__

'0.24.2'

In [7]:
#시리즈 생성
s1=pd.Series([12,30,100,33,25])
print(s1)
s2=pd.Series(['레드벨벳','방탄소년단'])
print(s2)

0     12
1     30
2    100
3     33
4     25
dtype: int64
0     레드벨벳
1    방탄소년단
dtype: object

In [9]:
print(s1.index)
print(s1.values)

RangeIndex(start=0, stop=5, step=1)
[ 12  30 100  33  25]

In [14]:
grade=pd.Series([90,80,100,55,70])
grade.index=['국어','수학','영어','과학','역사']
grade.name='중간고사 성적표'
grade.index.name='과목'

print(grade)
print(grade.mean())

과목
국어     90
수학     80
영어    100
과학     55
역사     70
Name: 중간고사 성적표, dtype: int64
79.0

In [15]:
s6=pd.Series({'홍길동':23, '신데렐라':18 ,'백설공주':25})
s6

홍길동     23
신데렐라    18
백설공주    25
dtype: int64

In [16]:
s6['홍길동']

23

In [17]:
s6[0]

23